Checks: >
  *,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -llvm*,
  -altera-*,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays

WarningsAsErrors: ''
HeaderFilterRegex: '(src|tests).*'
FormatStyle: 'file'
